<nav aria-label="Page navigation example">
  <ul class="pagination">
    <!-- <li class="page-item">
      <a class="page-link" (click)="updatePage($event)">Previous</a>
    </li> -->
    <li class="page-item">
      <a class="page-link" (click)="updatePage($event)">1</a>
    </li>
    <li class="page-item">
      <a class="page-link" (click)="updatePage($event)">2</a>
    </li>
    <li class="page-item">
      <a class="page-link" (click)="updatePage($event)">3</a>
    </li>
    <li class="page-item">
      <a class="page-link" (click)="updatePage($event)">4</a>
    </li>
    <li class="page-item">
      <a class="page-link" (click)="updatePage($event)">5</a>
    </li>
    <!-- <li class="page-item">
      <a class="page-link" (click)="updatePage($event)">Next</a>
    </li> -->
  </ul>
</nav>
