<header>
  <div
    class="bg-image container-fluid d-flex align-items-center justify-content-center"
  >
    <div class="row text-white">
      <h1 class="display-1">The Bob Clarey Library</h1>
    </div>
  </div>
  <div class="container mt-4">
    <p>
      The EnDH Foundation provides reading, writing and chess enrichment
      programs, as well as financial grants for educational, emotional and
      athletic needs. The foundation also provides funding for existing
      educational, athletic, arts, and music programs in other organizations.
    </p>
  </div>
</header>

<section class="container mb-5">
  <div class="row bob-clarey mb-4">
    <h2 class="display-5">Bob Clarey</h2>
    <div class="col-3 round-div">
      <img class="feature-img" src="../../assets/bob_cleary.png" alt="Hello" />
    </div>
    <div class="col">
      <p>
        Mr. Clarey was an Attorney and much more. He was in Navy JAG, worked in
        the Eastern District U.S. Attorney's Office, was a bureau chief at the
        Nassau County District Attorney's office, and had a private practice. He
        was a criminal lawyer and a trial lawyer. He helped many young men get
        on the right track.
      </p>
      <!-- <p>
        View Books: <span class="badge rounded-pill bg-primary">Education</span
        ><span class="badge rounded-pill bg-primary mx-1">Literature</span>
      </p> -->
    </div>
  </div>

  <div class="row barry-ricketts justify-content-between">
    <h2 class="display-5">Barry Ricketts</h2>
    <div class="col-3 round-div">
      <img
        class="feature-img"
        src="../../assets/library_image.png"
        alt="Hello"
      />
    </div>
    <div class="col">
      <p>
        Barry eventually went into the
        <b> Reginald Aiken Welding Company’s Apprenticeship Program</b>. He soon
        got hired and worked there for a while. Later on, he landed a
        <b>‘Dream Job’ at the Jamaican Bauxite Company</b>. This job was in the
        country parts, so he stayed in the country during the week and came home
        on weekends. It was during this time that Barry would spend a lot of
        time in May Pen where our family was from, and when he did a lot of
        quality-bonding time with our Uncle Mel. Being a
        <b
          >“Master” with his hands/at his craft… “Something the Lord Made!” ..
          His Spiritual Gift!!!</b
        >
        … again… he would say , <b>“If a man mek it .. me cyan fix it”!!!</b>
      </p>
      <!-- <button class="btn btn-success mb-3">Visit Barry's Corner</button> -->

      <!-- <p>
        View Books: <span class="badge rounded-pill bg-primary">Jamaica</span>
        <span class="badge rounded-pill bg-primary mx-1"
          >Rastafarian Culture</span
        >
        <span class="badge rounded-pill bg-primary mx-1">Welding</span>
        <span class="badge rounded-pill bg-primary mx-1">Music</span>
        <span class="badge rounded-pill bg-primary mx-1">Poetry</span>
        <span class="badge rounded-pill bg-primary mx-1">Arts</span>
      </p> -->
    </div>
  </div>
</section>

<section class="container">
  <h3>Recommended Books</h3>
  <app-book-list></app-book-list>
</section>
